* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(86, 171, 146, 1);
  background: linear-gradient(
    225deg,
    rgba(86, 171, 146, 1),
    rgba(30, 103, 230, 1)
  );
  font-family: "Comfortaa", cursive;
  min-height: 100vh;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
